$linear-orange: linear-gradient(
  to right,
  #e35d5b,
  #e53935
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$linear-orange-all: -webkit-linear-gradient(
  to right,
  #e35d5b,
  #e53935
); /* Chrome 10-25, Safari 5.1-6 */
$peach: #e53935;